body{
	background-color:white;
	width:1366px;
	height:768px;
	
	 
}
.kimanzi{
	width:1366px;
	height:70px;
	background-color: pink;
	color: white;
	text-align:center;
	margin-top:-16px;
}
header ul li{
     text-align:center;
     display: inline-block;
     margin: 0 auto;
     padding :14px;
     color:  white; 

}
header ul li a{
	text-align: center;
	text-decoration: none;
	font-weight: 3px;

}
header ul li a.hover{
	color:black;
}
.kim{
	
	width:1366px;
	height: 768px;
	margin: 0 auto;
	background: #fff;
	

}
.kim1{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
	margin-left: 18px;
}
.kim2{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim3{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim4{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim5{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim6{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
	margin-left: 18px;
	
}
.kim7{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim8{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim9{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim10{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;

}
.kim11{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
	margin-left: 18px;
	
}
.kim12{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top:18px;
	margin-right: 18px;
}
.kim13{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim14{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim15{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim16{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
	margin-left: 18px;
	
}
.kim17{
	width:251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim18{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim19{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right: 18px;
}
.kim20{
	width: 251.6px;
	height:169.5px;
	float: left;
	margin-top: 18px;
	margin-right:18px;
}